<div class="row">
	<main class="col-md-12">



		<h2>Welcome to About Page</h2>
		<br>
		<br>
		<h4>About Me</h4>
		<br>
		<p>
			My name is Nimshi Ashera Fernando. My student ID is 170739239. I am following BTT (Business Information Technology) program at Seneca College.
		</p>


	</main>
</div>
