<!DOCTYPE html>
<html>
	<head>
		<title>WEB700</title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">Student Name</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="/about">About</a></li>
					<li class="nav-item active"><a class="nav-link" href="/htmlDemo">Html Demo</a></li>
				</ul>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" href="/students">Students</a></li>
					<li class="nav-item"><a class="nav-link" href="/tas">Teaching Assistants</a></li>
					<li class="nav-item"><a class="nav-link" href="/courses">Courses</a></li>
				</ul>
			</div>
		</nav>

		<div class="container">
			<div class="row">
				<main class="col-md-12">



					<h3>BTT Program Structure</h3>
					<table class="table table-bordered">
						<caption>Seneca BTT Program 2024 Semester Breakdown</caption>
						<thead>
							<tr>
								<th>Semester Number</th>
								<th>Offered Season</th>
								<th>Year</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Semester 01</td>
								<td>Summer</td>
								<td rowspan="2">2024</td>
							</tr>
							<tr>
								<td>Semester 02</td>
								<td>Fall</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="2">Program Link</td>
								<td><a href="https://www.senecapolytechnic.ca/programs/fulltime/BTT.html">https://www.senecapolytechnic.ca/programs/fulltime/BTT.html</a></td>
							</tr>
						</tfoot>
						<tbody>
							<tr>
								<td>Semester 03</td>
								<td>Summer</td>
								<td rowspan="2">2025</td>
							</tr>
							<tr>
								<td>Semester 04</td>
								<td>Fall</td>
							</tr>
						</tbody>
					</table>

					<table class="table table-striped">
						<caption>Program List</caption>
						<thead>
							<tr>
								<th>Semester 01</th>
								<th>Semester 02</th>
								<th>Semester 03</th>
								<th>Semester 04</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>CIS660</td>
								<td>PMC700</td>
								<td>LDM860</td>
								<td>ADM950</td>
							</tr>
							<tr>
								<td>DBS610</td>
								<td>DBS710</td>
								<td>ITS800</td>
								<td>PRG800</td>
							</tr>
							<tr>
								<td>NWK680</td>
								<td>LPE945</td>
								<td>LDM860</td>
								<td>DBS900</td>
							</tr>
							<tr>
								<td>OSL645</td>
								<td>OSL745</td>
								<td>0SM820</td>
								<td>SEC835</td>
							</tr>
							<tr>
								<td>OSM620</td>
								<td>OSM720</td>
								<td>QAT810</td>
								<td>SOA915</td>
							</tr>
							<tr>
								<td>PRG600</td>
								<td>WEB700</td>
								<td>SEC935</td>
								<td>TPA905</td>
							</tr>
						</tbody>
					</table>
					<p>This section demonstrates program structure of BTT program.</p>


					<h3>Program Overview</h3>
					<ol>
						<li>When you graduate you will be equipped to help shape how businesses manage their connected systems.</li>
						<li>This program is offered in Seneca's hybrid delivery format with some courses available in Seneca's flexible delivery format. </li>
						<li>Career Pathway
							<ul>
								<li>technical support specialist</li>
								<li>helpdesk support</li>
								<li>network systems administrator</li>
							</ul>
						</li>
						<li>This program includes an optional work term where you can put your skills into practice and gain valuable work experience in the IT industry. </li>
						<li>Students meeting all academic requirements may have the opportunity to complete an optional work term(s) in a formal work environment. </li>
					</ol>
					<p>This section demonstrates basic overview of the program.</p>


					<h3>Seneca Gallery</h3>
					<img src="https://www.duhocnova.com/images/Seneca-4.png" alt="Newnham Campus" width="200" height="300" class="img-fluid" />
					<img src="https://upload.wikimedia.org/wikipedia/commons/5/53/SenecaMarkhamCampus18.jpg" alt="Markham Campus" width="200" height="300" class="img-fluid" />
					<img src="https://www.montgomerysisam.com/wp-content/uploads/2018/12/1723-015.jpg" alt="Inside Lobby" width="200" height="300" class="img-fluid" />
					<p>This section demonstrates snaps of Seneca Polytechnic.</p>

					<h3>Audio</h3>
					<audio controls>
						<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.mp3" type="audio/mpeg">
						Your browser does not support the audio element.
					</audio>
					<p>This section includes an audio.</p>

					<h3>Video</h3>
					<video controls width="500">
						<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.mp4" type="video/mp4">
						Your browser does not support the video tag.
					</video>
					<p>This section includes an external video source.</p>


				</main>
			</div>
		</div>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>